$search: '\e8b6';
$eye: '\e8f4';
$save: '\e161';
$star: '\e838';
$trash: '\e872';
$clock: '\e923';
$paw: '\e91d';
$back: '\e2ea';

.icon-search {
  &:before {
    content: $search;
  }
}

.icon-eye {
  &:before {
    content: $eye;
  }
}

.icon-save {
  &:before {
    content: $save;
  }
}

.icon-star {
  &:before {
    content: $star;
  }
}

.icon-trash {
  &:before {
    content: $trash;
  }
}

.icon-clock {
  &:before {
    content: $clock;
  }
}

.icon-paw {
  &:before {
    content: $paw;
  }
}

.icon-back {
  &:before {
    content: $back;
  }
}