::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: $darkgrey;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: $lightgreen;
}