#navBar {
  position: fixed;
  top: 0;
  margin-top: 1rem;
  max-width: 15vw;
  .nav-item {
    color: $white;
    fill: $white;
    text-decoration: none;
    line-height: 3rem;
    transition: all .2s ease-in-out;

    &:hover {
      color: $white;
    }

    .nav-item-container {
      background-color: $darkgrey;
      border-radius: 10px;

      &.icon-container {
        width: 3rem;
        height: 3rem;
      }
      &.active, &:hover {
        //background-color: $darkgreen;
        box-shadow: 0 0 10px 10px $lightgreen;
      }
    }
  }
}