body {
    background-color: grey;
}

.componentWithBackGround {
    background-color: grey !important;
    border-color: grey !important;
}

.gridFull {
    width: 100% !important;
}

.ui.form #input {
    background-color: #282828;
    color: yellow !important;
}

i.big.icon:hover {
    color: #FFFFFF !important;
}

.flexCenterPointer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ui.card > :first-child, .ui.cards > .card > :first-child {
    border-radius: .28571429rem .28571429rem 0 0 !important;
    border-top: transparent !important;
}

.ui.left.corner.label:after {
    border-top: 0 solid transparent;
}