body {
  background-color: $lightblack;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
}

.menu {
}

.content {
  width: 80vw;
  //max-width: 80vw;
}

.grid-area-empty {
  display: grid;
  grid-area: empty;
}

.d-grid {
  display: grid !important;
}

