body {
    background-color: #282828;
    /*background-color: white;*/
    background-image: -webkit-radial-gradient(black 15%, transparent 16%), -webkit-radial-gradient(black 15%, transparent 16%), -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), -webkit-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
    background-image: -moz-radial-gradient(black 15%, transparent 16%), -moz-radial-gradient(black 15%, transparent 16%), -moz-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), -moz-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
    background-image: -ms-radial-gradient(black 15%, transparent 16%), -ms-radial-gradient(black 15%, transparent 16%), -ms-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), -ms-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
    background-image: -o-radial-gradient(black 15%, transparent 16%), -o-radial-gradient(black 15%, transparent 16%), -o-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), -o-radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
    background-image: radial-gradient(black 15%, transparent 16%), radial-gradient(black 15%, transparent 16%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%), radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%);
    background-position: 0 0px, 8px 8px, 0 1px, 8px 9px;
    background-size: 16px 16px;
}

.gridFull {
    width: 100% !important;
}

.ui.form #input {
    background-color: #282828;
    color: yellow !important;
}